html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.fixMenu {
	display: fixed;
}

.menu {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-evenly;
	background-color: #212121;
	align-items: stretch;
	flex-wrap: wrap;
	align-items: center;
	opacity: 0.5;
	z-index: 3;
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;


}
.menu-items {
	text-decoration: none;
	color: #ffffff;
	font-family: georgia;
	text-align: center;
	font-size: 20px;
	font-style:italic;
	flex-grow: 1;


}
.container {
	position: relative;
	display: block;
	width: 400px;
	height: 100%;
	height: auto;
	display: none;
}
.list {
	transition: 0.5s ease-out;
	margin-top: -57px;
	background-color: #212121;
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.items {
	display: block;
	text-decoration: none;
	font-family: arial;
	font-size: 20px;
	margin-bottom: 10px;
	color: #ffffff;
	margin-top: 50px;
	text-align: center;
}
.menuList {
	text-decoration: none;
	font-family: georgia;
	background-color: royalblue;
	align-items: center;
	color: #ffffff;
}
.content {
	width: 100%;
	height: 500px;
	background-color: green;
}
.box {
	width: 40px;
	height:35px;
	background-color: #212121;
	border: 5px solid #212121;
	cursor: pointer;
}
.row {
	margin-top: 3px;
	height:3px;
	width: inherit;
	background-color: #ffffff;
	border-radius: 5px;
}
.items:hover {
	color: #1dcaff;
}
.menu-items:hover {
	color: #1dcaff;
}
.wall {
	background-image: url("http://i68.tinypic.com/9jk41y.jpg");
	width: 400px;
	height: 800px;
	top:0;
	position: absolute;
	z-index:1;
}
.profile-photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: 90px;
	margin-top: 100px;
}
img {
	width: inherit;
	height:inherit;
	border-radius: inherit;
}
.parallax {
	background-image: url("http://i63.tinypic.com/jl5kb9.jpg");
	height: 800px;
	width: 100%;
	position: absolute;
	top:0;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.profile-intro {
	width: inherit;
	height:auto;
	text-align: center;
	color: #ffffff;
}
#profile-name {
	font-family: Aguafina Script;
	font-size: 30px;
}
.job-title {
	font-family: Arial, Helvetica, sans-serif;
}
#contact-email{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
}
#contact-mob {
	font-family: Arial, Helvetica, sans-serif;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 10;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.contact-media {
	margin-top: 50px;
	width: inherit;
	text-align: center;;
}
#fb:hover {
	color: #3b5998;
}
#twit:hover {
	color: #1dcaff;
}
#gm:hover {
	color: #dd4b39;
}
#linked:hover {
	color: #0077b5;
}


.download-btn {
    width: 30px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    position: absolute;
    margin-top: 25px;
    
  }
  .cic {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: royalblue;
  }
  .cic-1 {
   
    display: inline-block;
    margin-left: -5px;
    margin-top: 5px;
  }
  .cic-2 {
    margin-left: 20px;
    margin-top: 5px;
    
  }
  .cic-3 {
    margin-left: 15px;
    margin-top: 5px;
  }
  
  
  
  .rog{
    position: absolute;
    width: 10px;
    height: 6px;
    background-color: #ffffff;
    transform: rotate(-90deg);
    margin-top: 10px;
    margin-left: 10px;
  }
  .rop {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #ffffff;
    transform: rotate(180deg);
    margin-left: 7.5px;
    margin-top: 16px;
  }
  
  .ani {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
    
  }
  .btnDown {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: DodgerBlue;
    color: white;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 3;
    cursor: pointer;
    margin-left: 90px;
  }
  .btnDown:hover {
    background-color: royalblue;
  }
  .wordcv {
      position: absolute;
      margin-left: 60px;
  }
  .cv-button {
      margin-left: 20px;
  }
  .intro-parallax {
  	display: block;
  	width: auto;
  	height: auto;
  	margin-left: 430px;
  	position: relative;
  	color: #ffffff;
  	top: 500px;
  }
  #hello {
  	font-family: 'Courier New', Courier, monospace;
  	font-size: 35px;
  }
  #my-name {
  	
  	font-size: 50px;
  	padding: 10px;

  }
  .job-name {
  	font-family: 'Times New Roman', Times, serif;
  	font-style: italic;
  	font-size: 35px;
  }
  .summary-about {
  	background-image: url("http://i66.tinypic.com/vo0mtt.jpg");
  	width: 100vw;
  	height: 700px;
  	background-repeat: no-repeat;
  	position: relative;
  	margin-top:730px;
  	display: flex;
  	flex-wrap: wrap;
  	background-repeat: no-repeat;
  	background-size: cover;
  }
  .summary {
  	position: absolute;
  	width: 600px;
  	height: inherit;
  	margin-left: 100px;
  	word-wrap: break-word;
  }
  #summary-head {
  	color: #3b5998;
  	font-size: 60px;
  	font-style: italic;
  }
  #summary-title {
  	color: #3b5998;
  	font-size: 35px;
  	font-family: sans-serif;
  }
  #summary-content {
  	color: #ffffff;
  	font-size: 30px;
  }
  .edu-exp {
  	width: 100%;
  	display: flex;
  	position: relative;
  	background-color: #ffffff;
  	height: auto;
  	flex-wrap: wrap;
  	flex-direction: start;
  	justify-content: space-around;
  	margin-top: 0px;
  }
  #edu {
  	width: 500px;
  	height: auto;
  	color: #212121;
  	margin-left: 8px;
  }
  #edu-head {
  	color: #3b5998;
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	font-style: italic;
  	font-size: 30px;
  }
  #edu-content1 {
  	font-family: Georgia, 'Times New Roman', Times, serif;

  }
  #edu-date2 {
  	margin-top: 50px;
  }
  #edu-content2 {
  	font-family: 
  }
  #exp {
  	width: 500px;
  	height: auto;
  	color: #212121;
  }
  #exp-head {
  	color: #3b5998;
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	font-style: italic;
  	font-size: 30px;
  }
  #job-title1 {
  	font-family:  Verdana, Geneva, Tahoma, sans-serif;
  }
  #location-1 {
  	font-family: sans-serif;
  }
  #content-1 {
  	font-family:  Georgia, 'Times New Roman', Times, serif;
  }
  #job-date2 {
  	margin-top: 50px;
  }
  #job-title2 {
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #location-2 {
  	font-family: sans-serif;
  }
  #content-2 {
  	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #job-date3 {
  	margin-top: 50px;
  }
  #job-title3 {
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #location-3 {
  	font-family: sans-serif;
  }
  #content-3 {
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#tester {
  	width: 100px;
  	height: 40px;
  	color: #ffffff;
  	text-align: center;
  	position: fixed;
  	z-index: 5;
  	margin-top: 0px;
  	background-color: red;
  	margin-left: 120px;
  }
.close-list {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin-left: 92vw;
  margin-top: 2vh;
}
.mod {
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
}
.mod-1 {
  transform: rotate(45deg);
  margin-top: 8px;
  margin-left: 3px;
}
.mod-2 {
  transform: rotate(-45deg);
  margin-top: 8px;
  margin-left:3px;
}

.shad {
	display: none;
}
.skills-lang {
	display: block;
	width: 100%;
	height: auto;
	background-color: #212121;
	position: relative;
	margin-top: -30px;
}
#skills-head {
	color: #3b5998;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-size: 30px;
	margin-left: 50px;
	position: relative;
}
.block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: flex-start;
}
.element {
	color: #ffffff;
	font-family: sans-serif;
	width: 150px;
	text-align: center;
}
.grap {
	width: 300px;
	background-color: #e0e0e0;
	height: 2px;
}
.lin {
	height: inherit;
	background-color: #3b5998;
	width: 0px;
}
.block-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: flex-start;
	margin-top: 50px;
}
.aw-in {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: flex-start;
	height: 650px;
}
.aw-in-head {
	color: #3b5998;
  	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	font-style: italic;
  	font-size: 30px;
}
.aw-in-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #3b5998;
	font-size: 17px;
}
.aw-in-content {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#aw {
	width: 500px;
	margin-top: 50px;
	margin-left: 8px;

}
#int {
	width: 500px;
	margin-top: 50px;
}
#list-grid {
	display: inline-grid;
	grid-template-columns: repeat(2, 100px[all-columns]);
	grid-template-rows: repeat(4, 40px[all-rows]);
	grid-template-areas: 
	"inter1 inter5"
	"inter2 inter6"
	"inter3 inter7"
	"inter4 inter8";
}
.int-1 {
	grid-area: inter1;
}
.int-2 {
	grid-area: inter2;
}
.int-3 {
	grid-area: inter3;
}
.int-4 {
	grid-area: inter4;
}
.int-5 {
	grid-area: inter5;
}
.int-6 {
	grid-area: inter6;
}
.int-7 {
	grid-area: inter7;
}
.int-8 {
	grid-area: inter8;
}
.int-item {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#first-footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
	width: 100%;
	background-color: #dfe3ee;
	position: absolute;
	justify-content: space-around;
	height: 400px;
}
#left-side-footer {
	width: 500px;
	text-align: center;
	margin-top: 100px;
}
#right-side-footer {
	width: 500px;
	text-align: center;
	margin-top: 105px;
}
#head-footer {
	font-style: italic;
	font-size: 25px;
	color: #212121;

}
#mail-footer {
	margin-left: -130px;
	font-family: sans-serif;
	font-size: 20px;
}
#profile-footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
	background-color: #3b5998;
	height: 80px;
	position: relative;
	margin-top: 400px;
	
}
#copyright {
	width: 300px;
	color: #ffffff;
	margin-top: 20px;
	width: inherit;
}
#my-copy {
	font-family: georgia;
	font-style: italic;
	font-size: 15px;
}


@media only screen and (max-width: 640px) and (min-width: 360px)  {
	.menu {
		flex-direction: start;
		justify-content: flex-start;
	}
	.container {
		display: block;
	}
	.menu-items {
		display: none;

	}
	.wall {
		width: 100vw;
	}
	
	.summary {
		width: 380px;
		
		text-align: center;		
	}
	
	.summary-about {
		width: 100vw;
	}
	
	#summary-content {
		transform: scale(0.9);
	}
	.parallax {
		display: none;
	}
	#exp {
		text-align: center;
	}
	#edu {
		text-align: center;
		margin-left: 0px;
	}
	.list {
		width: 100vw;
	}
	#int {
		text-align: center;
	}
	#aw {
		text-align: center;
		margin-left: 0px;
	}
	#mail-footer {
		margin-left: 40px;
	}
	#copyright {
		text-align: center;
	}
	.footer-btn {
		margin-left: 25vw;
	}
	#gallery-screen{
		width: 100vw;
	}
	
	#gallery-container {
		transform: scale(0.6);
		width: 100vw;
		position: absolute;
		left:-23vw;
	}
	.mgmg {
		width: 100vw;
	}
	#left-side-footer {
		margin-top: -10px;
	}
	#right-side-footer {
		margin-top: -10px;
	}
	#aside-menu {
		display: none;
	}
	#msg {
		display: none;
	}
}

@media only screen and (max-width: 640px) and (min-width: 320px) {
	.parallax {
		display: none;
	}
	.wall {
		width: 100vw;
	}
	.summary-about {
		width: 100vw;
	}
	.menu {
		flex-direction: start;
		justify-content: flex-start;
	}
	.container {
		display: block;
	}
	#summary-content {
		font-size: 6vw;
	}
	#exp {
		text-align: center;
	}
	#edu {
		text-align: center;
		margin-left: 0px;
	}
	.list {
		width: 100vw;
	}
	.menu-items {
		display: none;
	}
	.summary {
		
		margin-left: 5px;
		width: 100vw;
	}
	#mail-footer {
		margin-left: 20px;
	}
	#int {
		text-align: center;
	}
	#aw {
		text-align: center;
		margin-left: 0px;
	}
	.footer-btn {
		margin-top: -10px;
	}
	#gallery-screen{
		width: 100vw;
		left: 0;
	}
	
	.mgmg {
		width: 100vw;
	}
	#left-side-footer {
		margin-top: -10px;
	}
	#right-side-footer {
		margin-top: -10px;

	}
	#mail-footer {
		margin-left: -90px;
	}
	.footer-btn {
		margin-left: -5px;
	}
	#aside-menu {
		display: none;
	}
	#msg {
		display: none;
	}
	
}
@media only screen and (max-width: 900px) {
	#right-side-footer {
		margin-top: -20px;
		margin-left: 100px;	}
	#left-side-footer {
		margin-top: -15px;
	}
	#gallery-screen{
		width: 100vw;
		margin-left: -17.5%;
	}
	
	.mgmg {
		width: 100vw;
	}
	.intro-parallax {
		margin-top: -50px;
	}
	#gallery {
		width: 100vw;
	}
	#msg {
		display: none;
	}

	
}


.btnTop {
  width: 45px;
  height: 40px;
  background-color: #212121;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  display: none;
  margin-right: 10px;
  
}
#arow {
  height: 8px;
  width: 8px;
  border: solid #ffffff;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 5px;
  margin-left: 14px;
  margin-top: 20px;
  transform: rotate(225deg);
}
.btnTop:hover {
 background-color: royalblue;
}

#gallery {
	width: 100vw;
	height: 700px;
	background-color: #f9f8f6;
	position: relative;
	margin-top: -30px;
}

#gallery-head {
	color: #3b5998;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-size: 30px;
	margin-left: 50px;
	padding-top: 50px;
}

#gallery-container {
	width: 100vw;
	height: 400px;
	background-color: #2b2b2b;
	margin-top: 80px;
}

#gallery-screen {
	width: 700px;
	height: inherit;
	background-color: #2b2b2b;
	display: flex;
	display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	left:50%;
	margin-left: -360px;
	position: absolute;
	border-top: 20px dashed #212121;
	border-bottom: 20px dashed #212121;
	height: 360px;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	-webkit-overflow-x: hidden;
	-moz-overflow-x: hidden;
}

.mgmg {
	height: 357px;
	transition: 1s;
	width: 100%;

}


.aside-menu-container {
  height: auto;
  position: fixed;
  z-index: 99;
  margin-top: 200px;
  display: none;
}
.asides {
  width: 100px;
  height: 50px;
  cursor: pointer;
  color: #ffffff;
  background-color:  DodgerBlue;
  font-family: arial;
  margin-bottom: 1px;
  line-height: 3;
  margin-left: -80px;
  transition: 0.5s ease-out;
  opacity: 0.5;
  border-radius: 0 5px 5px 0;

}

.coolos {
  margin-left: -12px;
  text-align: center;
  opacity: 1;
}
.openAside {
	margin-left: -10px;
	text-align: center;
	opacity: 1;
}

.frank {
	transform: scale(1);
	transition: 1s ease-out;
}


.container-alert-msg {
  width: 700px;
  height: 300px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;
  margin:auto;
  margin-top: -320px;
  transition: 0.5s ease-out;
  z-index: 11;
}
.msg {
  width: 500px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  border: 20px solid #3EA055;
  position: absolute;
  background-color: #4CAF50;
  color: #ffffff;
  font-family: georgia;
  font-size: 20px;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  margin: auto;
  box-shadow: 10px 10px 50px gray;
 
  
}
.close-box {
  width: 40px;
  height: 40px;
  background-color: #3EA055;
  border-radius: 50%;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: relative;
  cursor: pointer;
  margin-top: 30px;

}
.rr {
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  
}
.r-1 {
  position: absolute;
  transform: rotate(45deg);
  margin-top: 17px;
  margin-left: 10px;
}
.r-2 {
  position: absolute;
  transform: rotate(-45deg);
  margin-top: 17px;
  margin-left: 10px;
}

#msg-head {
	font-weight: bold;
	
}
#msg-topic {
	margin-top: 20px;
}

.phero {
	background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 640px) and (min-width: 360px) {

.msg {
 width: 320px;
 display: inline-flex;
 flex-wrap: wrap;
}

.container-alert-msg {
 width: 100vw;
 display: flex;
 flex-wrap: wrap;
}

}

.nor {
	color: #ffffff;
}

.mangoMsg {
	overflow-y: hidden;

}
#lastAct {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #212121;
	opacity: 0.8;
	top: 0;
	z-index: 10;
	transition: 0.5s ease-out;
	display: none;
}

.slideDown {
	margin-top: 40px;
}